@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;

  src: url('../fonts/roboto/regular/Roboto-Regular.eot') format('eot'),
  url('../fonts/roboto/regular/Roboto-Regular.woff') format('woff'),
  url('../fonts/roboto/regular/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;

  src: url('../fonts/roboto/light/Roboto-Light.eot') format('eot'),
  url('../fonts/roboto/light/Roboto-Light.woff') format('woff'),
  url('../fonts/roboto/light/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;

  src: url('../fonts/roboto/light/Roboto-LightItalic.eot') format('eot'),
  url('../fonts/roboto/light/Roboto-LightItalic.woff') format('woff'),
  url('../fonts/roboto/light/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;

  src: url('../fonts/roboto/bold/Roboto-Bold.eot') format('eot'),
  url('../fonts/roboto/bold/Roboto-Bold.woff') format('woff'),
  url('../fonts/roboto/bold/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;

  src: url('../fonts/roboto/bold/Roboto-BoldItalic.eot') format('eot'),
  url('../fonts/roboto/bold/Roboto-BoldItalic.woff') format('woff'),
  url('../fonts/roboto/bold/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  font-style: normal;

  src: url('../fonts/roboto/thin/Roboto-Thin.eot') format('eot'),
  url('../fonts/roboto/thin/Roboto-Thin.woff') format('woff'),
  url('../fonts/roboto/thin/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  font-style: italic;

  src: url('../fonts/roboto/thin/Roboto-ThinItalic.eot') format('eot'),
  url('../fonts/roboto/thin/Roboto-ThinItalic.woff') format('woff'),
  url('../fonts/roboto/thin/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'MyriadPro';
  font-weight: 400;
  font-style: normal;

  src: url('../fonts/myriadpro/regular/MyriadPro-Regular.eot') format('eot'),
  url('../fonts/myriadpro/regular/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/myriadpro/regular/MyriadPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Trajan';
  font-weight: 400;
  font-style: normal;

  src: url('../fonts/trajan/regular/TrajanPro3-Regular.eot') format('eot'),
  url('../fonts/trajan/regular/TrajanPro3-Regular.woff') format('woff'),
  url('../fonts/trajan/regular/TrajanPro3-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 300;
  font-style: normal;

  src: url('../fonts/opensans/light/opensans-300.eot') format('eot'),
  url('../fonts/opensans/light/opensans-300.woff') format('woff'),
  url('../fonts/opensans/light/opensans-300.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  font-style: normal;

  src: url('../fonts/opensans/regular/opensans-400.eot') format('eot'),
  url('../fonts/opensans/regular/opensans-400.woff') format('woff'),
  url('../fonts/opensans/regular/opensans-400.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  font-style: normal;

  src: url('../fonts/opensans/semibold/opensans-600.eot') format('eot'),
  url('../fonts/opensans/semibold/opensans-600.woff') format('woff'),
  url('../fonts/opensans/semibold/opensans-600.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  font-style: normal;

  src: url('../fonts/opensans/bold/opensans-700.eot') format('eot'),
  url('../fonts/opensans/bold/opensans-700.woff') format('woff'),
  url('../fonts/opensans/bold/opensans-700.ttf') format('truetype');
}